<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Intentions</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstraptheme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="w-auto p-3 mt-3 logo-container"></div>
    <div>
        <h1 class="display-6">Financing Intents</h1>
    </div>
    <form method="POST" th:object="${intent}" th:action="@{/save-intent}">

        <div class="form-row">
            <div><input type="hidden" th:field="*{id}"></div>

            <div class="form-group col-md-7 mt-3">
                <label for="name">Name:</label>
                <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Client name"
                       th:field="*{name}">
                <div th:errors="*{name}" class="invalid-feedback"></div>
            </div>
            <div class="row">

                <div class="form-group mt-3 col-sm">
                    <label for="adress">Adress:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Complete Adress"
                           th:field="*{adress}">
                    <div th:errors="*{adress}" class="invalid-feedback"></div>
                </div>

                <div class="form-group  mt-3 col-sm">
                    <label for="numberadress">Numero Adress:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Number Adress"
                           th:field="*{number}">
                    <div th:errors="*{number}" class="invalid-feedback"></div>
                </div>

                <div class="form-group  mt-3 col-sm">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Cidade"
                           th:field="*{city}">
                    <div th:errors="*{city}" class="invalid-feedback"></div>
                </div>

                <div class="form-group  mt-3 col-sm">
                    <label for="state">Estado:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Estado"
                           th:field="*{state}">
                    <div th:errors="*{state}" class="invalid-feedback"></div>
                </div>

                <div class="form-group mt-3 col-sm">
                    <label for="cep">Cep:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="CEP"
                           th:field="*{cep}">
                    <div th:errors="*{cep}" class="invalid-feedback"></div>
                </div>

            </div>

            <div class="row">

                <div class="form-group mt-3 col-sm">
                    <label for="socialNumber">Social Number:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Cpf completo"
                           th:field="*{socialNumber}">
                    <div th:errors="*{socialNumber}" class="invalid-feedback"></div>
                </div>

                <div class="form-group  mt-3 col-sm">
                    <label for="generalNumber">RG:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="RG"
                           th:field="*{generalNumber}">
                    <div th:errors="*{generalNumber}" class="invalid-feedback"></div>
                </div>

                <div class="form-group mt-3 col-sm">
                    <label for="birthDate">Birth Date:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Data de nascimento"
                           th:field="*{birthDate}">
                    <div th:errors="*{birthDate}" class="invalid-feedback"></div>
                </div>

            </div>

            <div class="row">

                <div class="form-group row-cols-1 mt-3 col-sm">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Email"
                           th:field="*{email}">
                    <div th:errors="*{email}" class="invalid-feedback"></div>
                </div>

                <div class="form-group row-cols-1 mt-3 col-sm">
                    <label for="email">Phone Number:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Phone Number"
                           th:field="*{contact}">
                    <div th:errors="*{contact}" class="invalid-feedback"></div>
                </div>


            </div>
            <div class="row">

                <div class="form-group  mt-3 col-sm">
                    <label for="category">Type of financing:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Type of financing"
                           th:field="*{category}">
                    <div th:errors="*{birthDate}" class="invalid-feedback"></div>
                </div>

                <div class="form-group  mt-3 col-sm">
                    <label for="quantity">Quantity amount:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid"
                           placeholder="Quantidade de parcelas" th:field="*{quantity}">
                    <div th:errors="*{quantity}" class="invalid-feedback"></div>
                </div>

                <div class="form-group mt-3 col-sm">
                    <label for="valueIntention">Value Intention:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid"
                           placeholder="Intenção de financiamento" th:field="*{intentValue}">
                    <div th:errors="*{intentValue}" class="invalid-feedback"></div>
                </div>

                <div class="form-group mt-3 col-sm">
                    <label for="salary">Salary:</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" placeholder="Informe seu Salario"
                           th:field="*{salary}">
                    <div th:errors="*{salary}" class="invalid-feedback"></div>
                </div>


            </div>


            <!--            <div class="form-group mt-3">-->
            <!--                <label for="exampleFormControlTextarea1">Descrição</label>-->
            <!--                <textarea class="form-control" th:field="*{category}" rows="3"></textarea>-->
            <!--            </div>-->


            <!--            <div class="form-group col-md-2 mt-3">-->
            <!--                <label for="nome">Quantidade parcelamento:</label>-->
            <!--                <input type="number" class="form-control" th:errorclass="is-invalid" placeholder="Quantidade parcelamento" th:field="*{quantity}">-->
            <!--                <div th:errors="*{quantity}" class="invalid-feedback"></div>-->
            <!--            </div>-->
            <!--        </div>-->

            <div>
                <button type="submit" class="btn btn-success  mt-3">Salvar</button>
            </div>
    </form>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>